<a href="https://colab.research.google.com/github/svetaepc/ds_py/blob/master/features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://bit.ly/FEML-7-FEAT

## Работа с переменными

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
 
from matplotlib import pyplot as plt
 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
!wget 'https://drive.google.com/uc?id=1iIOd4bRKrkXKvMRdRtXJW5f_kz6bOuHP' -O data.csv

--2023-03-28 14:47:43--  https://drive.google.com/uc?id=1iIOd4bRKrkXKvMRdRtXJW5f_kz6bOuHP
Resolving drive.google.com (drive.google.com)... 142.251.163.139, 142.251.163.113, 142.251.163.101, ...
Connecting to drive.google.com (drive.google.com)|142.251.163.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-00-84-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/mjsbkdfk56q1o7lbk7ooap7olgucsrek/1680014850000/02611596255248067438/*/1iIOd4bRKrkXKvMRdRtXJW5f_kz6bOuHP?uuid=3f56afb3-2467-4bb3-b511-5bf924230769 [following]
Warning: wildcards not supported in HTTP.
--2023-03-28 14:47:44--  https://doc-00-84-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/mjsbkdfk56q1o7lbk7ooap7olgucsrek/1680014850000/02611596255248067438/*/1iIOd4bRKrkXKvMRdRtXJW5f_kz6bOuHP?uuid=3f56afb3-2467-4bb3-b511-5bf924230769
Resolving doc-00-84-docs.googleusercontent.com (doc-00-84-docs.googleusercontent.com)... 142.251.163.132, 2607:f8b0:4004:c1b::84
Connecting to doc-00-84-docs.googleusercontent.com (doc-00-84-docs.googleusercontent.com)|142.251.163.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1806825 (1.7M) [text/csv]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.72M  --.-KB/s    in 0.01s

2023-03-28 14:47:44 (121 MB/s) - ‘data.csv’ saved [1806825/1806825]

In [ ]:
data = pd.read_csv('data.csv')
data.head(5)

,address,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,usecode,yearbuilt,zestimate,zipcode
0,Address: 1160 Mission Street #2007,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,South of Market,4.0,Condominium,2007.0,1167508.0,94103.0
1,Address: 260 King Street #475,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,South of Market,3.0,Condominium,2004.0,823719.0,94107.0
2,Address: 560 Missouri Street #B,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,Condominium,2003.0,1708594.0,94107.0
3,Address: 350 Missouri Street,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,SingleFamily,1927.0,2411236.0,94107.0
4,Address: 3658 Folsom Street,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,SingleFamily,1900.0,1918539.0,94110.0

In [ ]:
data.shape

(11327, 15)

In [ ]:
data.isna().sum()

address          0
z_address        0
bathrooms        0
bedrooms         0
finishedsqft     0
lastsolddate     0
lastsoldprice    0
latitude         0
longitude        0
neighborhood     0
totalrooms       0
usecode          0
yearbuilt        0
zestimate        0
zipcode          0
dtype: int64

Будем использовать линейную регрессию для тестирования качества данных

In [ ]:
def get_score(X, y, random_seed=42, model=None):
  if model is None:
      model = LinearRegression()

  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random_seed) 

  model.fit(X_train, y_train)
  return model.score(X_test, y_test)

In [ ]:
for_drop = ['address']
data_processed = data.drop(columns=for_drop)

In [ ]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 5.3 MB/s eta 0:00:00
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [ ]:
from sklearn.preprocessing import LabelEncoder
from category_encoders.count import CountEncoder


def get_one_hot(X, cols):
    for each in cols:
        dummies = pd.get_dummies(X[each], prefix=each)
        X = pd.concat([X, dummies], axis=1)
    return X

def get_label(X, cols):
    X = X.copy()
    for each in cols:
        le = LabelEncoder()
        labels = le.fit_transform(X[each])
        X[each] = labels
    return X

def get_count(X, cols):
    X = X.copy()
    
    for col in cols:
        X[col] = X[col].astype('str')

    ce = CountEncoder(handle_unknown=-1)
    ce.fit(X[cols])
    X[cols] = ce.transform(X[cols])
    return X

In [ ]:
data_processed.head()

,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,usecode,yearbuilt,zestimate,zipcode
0,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,South of Market,4.0,Condominium,2007.0,1167508.0,94103.0
1,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,South of Market,3.0,Condominium,2004.0,823719.0,94107.0
2,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,Condominium,2003.0,1708594.0,94107.0
3,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,SingleFamily,1927.0,2411236.0,94107.0
4,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,SingleFamily,1900.0,1918539.0,94110.0

In [ ]:
columns = [
  'bathrooms',
  'bedrooms',
  'finishedsqft',
  'lastsoldprice',
  'latitude',
  'longitude',
  'totalrooms',
  'yearbuilt'
]

In [ ]:
get_score(data_processed[columns], data_processed['zestimate'])

0.8522566498257562

## Обработка категорий

In [ ]:
exclude_columns = ['z_address', 'zestimate', 'lastsolddate', 'neighborhood', 'usecode']

### usecode

In [ ]:
data_processed['usecode'].value_counts()

SingleFamily        5810
Condominium         4794
MultiFamily2To4      484
Duplex               146
Townhouse             66
Miscellaneous         17
Apartment              3
Cooperative            3
Mobile                 2
MultiFamily5Plus       2
Name: usecode, dtype: int64

In [ ]:
tmp = get_one_hot(data_processed, cols=['usecode'])
tmp.head()

,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,...,usecode_Apartment,usecode_Condominium,usecode_Cooperative,usecode_Duplex,usecode_Miscellaneous,usecode_Mobile,usecode_MultiFamily2To4,usecode_MultiFamily5Plus,usecode_SingleFamily,usecode_Townhouse
0,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,South of Market,4.0,...,0,1,0,0,0,0,0,0,0,0
1,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,South of Market,3.0,...,0,1,0,0,0,0,0,0,0,0
2,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,...,0,1,0,0,0,0,0,0,0,0
3,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,...,0,0,0,0,0,0,0,0,1,0
4,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
get_score(tmp.drop(columns=exclude_columns), data_processed['zestimate'])

0.8530465907357947

In [ ]:
tmp = get_count(data_processed, cols=['usecode'])
tmp.head()

,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,usecode,yearbuilt,zestimate,zipcode
0,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,South of Market,4.0,4794,2007.0,1167508.0,94103.0
1,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,South of Market,3.0,4794,2004.0,823719.0,94107.0
2,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,4794,2003.0,1708594.0,94107.0
3,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,5810,1927.0,2411236.0,94107.0
4,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,5810,1900.0,1918539.0,94110.0

In [ ]:
exclude_columns_usecode = exclude_columns.copy()
exclude_columns_usecode.remove('usecode')
exclude_columns_usecode

['z_address', 'zestimate', 'lastsolddate', 'neighborhood']

In [ ]:
get_score(tmp.drop(columns=exclude_columns_usecode), data_processed['zestimate'])

0.8527481282603703

In [ ]:
data_processed = get_one_hot(data_processed, cols=['usecode'])

### neighborhood

In [ ]:
tmp = get_one_hot(data_processed, cols=['neighborhood'])
tmp.head()

,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,...,neighborhood_Sunnyside,neighborhood_Telegraph Hill,neighborhood_Twin Peaks,neighborhood_Van Ness - Civic Center,neighborhood_Visitacion Valley,neighborhood_West Portal,neighborhood_Western Addition,neighborhood_Westwood Highlands,neighborhood_Westwood Park,neighborhood_Yerba Buena
0,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,South of Market,4.0,...,0,0,0,0,0,0,0,0,0,0
1,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,South of Market,3.0,...,0,0,0,0,0,0,0,0,0,0
2,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,...,0,0,0,0,0,0,0,0,0,0
3,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,...,0,0,0,0,0,0,0,0,0,0
4,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
get_score(tmp.drop(columns=exclude_columns), data_processed['zestimate'])

0.8717696937526587

In [ ]:
data_processed['neighborhood'].value_counts()

Mission             540
Bernal Heights      525
South of Market     524
South Beach         461
Pacific Heights     439
                   ...
North Beach          31
Lakeside             29
Little Hollywood     12
North Waterfront      8
Daly City             3
Name: neighborhood, Length: 71, dtype: int64

In [ ]:
tmp = get_count(data_processed, cols=['neighborhood'])
tmp.head()

,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,...,usecode_Apartment,usecode_Condominium,usecode_Cooperative,usecode_Duplex,usecode_Miscellaneous,usecode_Mobile,usecode_MultiFamily2To4,usecode_MultiFamily5Plus,usecode_SingleFamily,usecode_Townhouse
0,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,524,4.0,...,0,1,0,0,0,0,0,0,0,0
1,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,524,3.0,...,0,1,0,0,0,0,0,0,0,0
2,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,312,6.0,...,0,1,0,0,0,0,0,0,0,0
3,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,312,10.0,...,0,0,0,0,0,0,0,0,1,0
4,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,525,4.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
exclude_columns_tmp = exclude_columns.copy()
exclude_columns_tmp.remove('neighborhood')
exclude_columns_tmp

['z_address', 'zestimate', 'lastsolddate', 'usecode']

In [ ]:
get_score(tmp.drop(columns=exclude_columns_tmp), data_processed['zestimate'])

0.8530527481307935

In [ ]:
data_processed = get_one_hot(data_processed, cols=['neighborhood'])

### lastsolddate

In [ ]:
data_processed['lastsolddate'].head()

0    02/17/2016
1    02/17/2016
2    02/17/2016
3    02/17/2016
4    02/17/2016
Name: lastsolddate, dtype: object

In [ ]:
data_processed['lastsolddate'] = pd.to_datetime(data_processed['lastsolddate'])

In [ ]:
data_processed['lastsolddate'].head()

0   2016-02-17
1   2016-02-17
2   2016-02-17
3   2016-02-17
4   2016-02-17
Name: lastsolddate, dtype: datetime64[ns]

In [ ]:
data_processed['lastsoldmonth'] = data_processed['lastsolddate'].dt.month
data_processed['lastsoldmonth']

0        2
1        2
2        2
3        2
4        2
        ..
11322    2
11323    2
11324    2
11325    2
11326    2
Name: lastsoldmonth, Length: 11327, dtype: int64

In [ ]:
data_processed['lastsolddate'] = [t.timestamp() for t in data_processed['lastsolddate']]
data_processed['lastsolddate']

0        1.455667e+09
1        1.455667e+09
2        1.455667e+09
3        1.455667e+09
4        1.455667e+09
             ...
11322    1.454458e+09
11323    1.454371e+09
11324    1.454371e+09
11325    1.454371e+09
11326    1.454285e+09
Name: lastsolddate, Length: 11327, dtype: float64

In [ ]:
exclude_columns_tmp = exclude_columns.copy()
exclude_columns_tmp.remove('lastsolddate')
exclude_columns_tmp

['z_address', 'zestimate', 'neighborhood', 'usecode']

In [ ]:
get_score(data_processed.drop(columns=exclude_columns_tmp), data_processed['zestimate'])

0.8817952608621011

### zipcode

In [ ]:
tmp = get_one_hot(data_processed, cols=['zipcode']).drop(columns=exclude_columns)
tmp.head()

,bathrooms,bedrooms,finishedsqft,lastsoldprice,latitude,longitude,totalrooms,yearbuilt,zipcode,usecode_Apartment,...,zipcode_94121.0,zipcode_94122.0,zipcode_94123.0,zipcode_94124.0,zipcode_94127.0,zipcode_94131.0,zipcode_94132.0,zipcode_94133.0,zipcode_94134.0,zipcode_94158.0
0,2.0,2.0,1043.0,1300000.0,37.778705,-122.412635,4.0,2007.0,94103.0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1.0,903.0,750000.0,37.777641,-122.393417,3.0,2004.0,94107.0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.0,3.0,1425.0,1495000.0,37.759198,-122.396516,6.0,2003.0,94107.0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,3.0,2231.0,2700000.0,37.761886,-122.396769,10.0,1927.0,94107.0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,3.0,1300.0,1530000.0,37.740795,-122.413453,4.0,1900.0,94110.0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
get_score(tmp, data_processed['zestimate'])

0.8725741005119785

In [ ]:
tmp = get_label(data_processed, cols=['zipcode']).drop(columns=exclude_columns)
tmp.head()

,bathrooms,bedrooms,finishedsqft,lastsoldprice,latitude,longitude,totalrooms,yearbuilt,zipcode,usecode_Apartment,...,neighborhood_Telegraph Hill,neighborhood_Twin Peaks,neighborhood_Van Ness - Civic Center,neighborhood_Visitacion Valley,neighborhood_West Portal,neighborhood_Western Addition,neighborhood_Westwood Highlands,neighborhood_Westwood Park,neighborhood_Yerba Buena,lastsoldmonth
0,2.0,2.0,1043.0,1300000.0,37.778705,-122.412635,4.0,2007.0,1,0,...,0,0,0,0,0,0,0,0,0,2
1,1.0,1.0,903.0,750000.0,37.777641,-122.393417,3.0,2004.0,4,0,...,0,0,0,0,0,0,0,0,0,2
2,4.0,3.0,1425.0,1495000.0,37.759198,-122.396516,6.0,2003.0,4,0,...,0,0,0,0,0,0,0,0,0,2
3,3.0,3.0,2231.0,2700000.0,37.761886,-122.396769,10.0,1927.0,4,0,...,0,0,0,0,0,0,0,0,0,2
4,3.0,3.0,1300.0,1530000.0,37.740795,-122.413453,4.0,1900.0,7,0,...,0,0,0,0,0,0,0,0,0,2

In [ ]:
get_score(tmp, data_processed['zestimate'])

0.8721722481367178

In [ ]:
tmp = get_count(data_processed, cols=['zipcode']).drop(columns=exclude_columns)
tmp.head()

,bathrooms,bedrooms,finishedsqft,lastsoldprice,latitude,longitude,totalrooms,yearbuilt,zipcode,usecode_Apartment,...,neighborhood_Telegraph Hill,neighborhood_Twin Peaks,neighborhood_Van Ness - Civic Center,neighborhood_Visitacion Valley,neighborhood_West Portal,neighborhood_Western Addition,neighborhood_Westwood Highlands,neighborhood_Westwood Park,neighborhood_Yerba Buena,lastsoldmonth
0,2.0,2.0,1043.0,1300000.0,37.778705,-122.412635,4.0,2007.0,360,0,...,0,0,0,0,0,0,0,0,0,2
1,1.0,1.0,903.0,750000.0,37.777641,-122.393417,3.0,2004.0,857,0,...,0,0,0,0,0,0,0,0,0,2
2,4.0,3.0,1425.0,1495000.0,37.759198,-122.396516,6.0,2003.0,857,0,...,0,0,0,0,0,0,0,0,0,2
3,3.0,3.0,2231.0,2700000.0,37.761886,-122.396769,10.0,1927.0,857,0,...,0,0,0,0,0,0,0,0,0,2
4,3.0,3.0,1300.0,1530000.0,37.740795,-122.413453,4.0,1900.0,935,0,...,0,0,0,0,0,0,0,0,0,2

In [ ]:
get_score(tmp, data_processed['zestimate'])

0.8716633769952579

### z_address

In [ ]:
data_processed.head()

,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,...,neighborhood_Telegraph Hill,neighborhood_Twin Peaks,neighborhood_Van Ness - Civic Center,neighborhood_Visitacion Valley,neighborhood_West Portal,neighborhood_Western Addition,neighborhood_Westwood Highlands,neighborhood_Westwood Park,neighborhood_Yerba Buena,lastsoldmonth
0,1160 Mission St UNIT 2007,2.0,2.0,1043.0,1.455667e+09,1300000.0,37.778705,-122.412635,South of Market,4.0,...,0,0,0,0,0,0,0,0,0,2
1,260 King St UNIT 475,1.0,1.0,903.0,1.455667e+09,750000.0,37.777641,-122.393417,South of Market,3.0,...,0,0,0,0,0,0,0,0,0,2
2,560 Missouri St # B,4.0,3.0,1425.0,1.455667e+09,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,...,0,0,0,0,0,0,0,0,0,2
3,350 Missouri St,3.0,3.0,2231.0,1.455667e+09,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,...,0,0,0,0,0,0,0,0,0,2
4,3658 Folsom St,3.0,3.0,1300.0,1.455667e+09,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,...,0,0,0,0,0,0,0,0,0,2

<img src='https://drive.google.com/uc?export=view&id=14nvoZ71VqMfYBY6ff_7_Btx-tVwL_4lB'>

TF (term frequency — частота слова) — отношение числа вхождений некоторого слова к общему числу слов документа. Таким образом, оценивается важность слова t в пределах отдельного документа.

$$tf = \frac {n_t}{\sum _{k}n_{k}}$$

*TF термина а = (Количество раз, когда термин а встретился в тексте / количество всех слов в тексте)*



IDF (inverse document frequency — обратная частота документа) — инверсия частоты, с которой некоторое слово встречается в документах коллекции.

$$idf=\log \frac {|D|}{|\{\,d_{i}\in D\mid t\in d_{i}\,\}|}$$

*IDF термина а = логарифм(Общее количество документов / Количество документов, в которых встречается термин а)*



Таким образом, мера TF-IDF является произведением двух сомножителей:

Большой вес в TF-IDF получат слова с высокой частотой в пределах конкретного документа и с низкой частотой употреблений в других документах.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=50, stop_words='english')
vectorized = tfidf.fit_transform(data_processed['z_address'])

vectorized

<11327x50 sparse matrix of type '<class 'numpy.float64'>'
	with 17819 stored elements in Compressed Sparse Row format>

In [ ]:
vectorized_df = pd.DataFrame(vectorized.toarray(), columns=tfidf.get_feature_names_out())
vectorized_df

,101,15th,17th,18th,19th,1st,201,20th,22nd,23rd,...,ness,pacific,sacramento,san,st,sutter,ter,unit,van,way
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.207704,0.0,0.0,0.498287,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.167244,0.0,0.0,0.401222,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.247724,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
11323,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
11324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
11325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
11326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.247724,0.0,0.0,0.000000,0.0,0.0

In [ ]:
tmp = pd.concat([data_processed, vectorized_df], axis=1).drop(columns=exclude_columns)
tmp.head()

,bathrooms,bedrooms,finishedsqft,lastsoldprice,latitude,longitude,totalrooms,yearbuilt,zipcode,usecode_Apartment,...,ness,pacific,sacramento,san,st,sutter,ter,unit,van,way
0,2.0,2.0,1043.0,1300000.0,37.778705,-122.412635,4.0,2007.0,94103.0,0,...,0.0,0.0,0.0,0.0,0.207704,0.0,0.0,0.498287,0.0,0.0
1,1.0,1.0,903.0,750000.0,37.777641,-122.393417,3.0,2004.0,94107.0,0,...,0.0,0.0,0.0,0.0,0.167244,0.0,0.0,0.401222,0.0,0.0
2,4.0,3.0,1425.0,1495000.0,37.759198,-122.396516,6.0,2003.0,94107.0,0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
3,3.0,3.0,2231.0,2700000.0,37.761886,-122.396769,10.0,1927.0,94107.0,0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0
4,3.0,3.0,1300.0,1530000.0,37.740795,-122.413453,4.0,1900.0,94110.0,0,...,0.0,0.0,0.0,0.0,0.247724,0.0,0.0,0.000000,0.0,0.0

In [ ]:
get_score(tmp, data_processed['zestimate'])

0.8711775974313373

In [ ]:
# data_processed = pd.concat([data_processed, vectorized_df], axis=1)

## Работа с геоданными

In [ ]:
!pip install reverse_geocoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting reverse_geocoder
  Downloading reverse_geocoder-1.5.1.tar.gz (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 55.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from reverse_geocoder) (1.22.4)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/lib/python3.9/dist-packages (from reverse_geocoder) (1.10.1)
Building wheels for collected packages: reverse_geocoder
  Building wheel for reverse_geocoder (setup.py) ... done
  Created wheel for reverse_geocoder: filename=reverse_geocoder-1.5.1-py3-none-any.whl size=2268084 sha256=ac6dfaea96fb33c4e1c9701d8f0119cfb379ac656325704374ba3f6d178171b0
  Stored in directory: /root/.cache/pip/wheels/10/05/be/d2edd4ff207cf625ce8bd20cf1493c27838828e8920aff9f4e
Successfully built reverse_geocoder
Installing collected packages: reverse_geocoder
Successfully installed reverse_geocoder-1.5.1

In [ ]:
import reverse_geocoder as revgc  

revgc.search((data_processed.iloc[10].latitude, data_processed.iloc[10].longitude))

Loading formatted geocoded file...

[{'lat': '37.68077',
  'lon': '-122.39997',
  'name': 'Brisbane',
  'admin1': 'California',
  'admin2': 'San Mateo County',
  'cc': 'US'}]

In [ ]:
!pip install folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.9/dist-packages (0.14.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.9/dist-packages (from folium) (3.1.2)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from folium) (0.6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from folium) (2.27.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from folium) (1.22.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2>=2.9->folium) (2.1.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->folium) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->folium) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->folium) (2.0.12)

In [ ]:
import folium
this_map = folium.Map(prefer_canvas=True)

def plotDot(point, color):
    
    folium.CircleMarker(
        location=[point.latitude, point.longitude],
        radius=2,
        weight=5,
        color=color,
        popup=point.zestimate
    ).add_to(this_map)
    
data_processed.iloc[:2000].apply(plotDot, axis=1, color='#3388FF')

this_map.fit_bounds(this_map.get_bounds())

this_map

Выходные данные этой ячейки слишком велики. Войдите, чтобы просмотреть их.

In [ ]:
!pip install keplergl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keplergl
  Downloading keplergl-0.3.2.tar.gz (9.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.7/9.7 MB 83.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting geopandas>=0.5.0
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 48.6 MB/s eta 0:00:00
Collecting traittypes>=0.2.1
  Downloading traittypes-0.2.1-py2.py3-none-any.whl (8.6 kB)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from keplergl) (1.4.4)
Requirement already satisfied: ipywidgets<8,>=7.0.0 in /usr/local/lib/python3.9/dist-packages (from keplergl) (7.7.1)
Requirement already satisfied: Shapely>=1.6.4.post2 in /usr/local/lib/python3.9/dist-packages (from keplergl) (2.0.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas>=0.5.0->keplergl) (23.0)
Collecting fiona>=1.8
  Downloading Fiona-1.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 53.4 MB/s eta 0:00:00
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.5.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 23.1 MB/s eta 0:00:00
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (7.9.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (3.0.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (3.6.3)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.9/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.7.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.9/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.3.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23.0->keplergl) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23.0->keplergl) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23.0->keplergl) (2022.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (22.2.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (6.1.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (8.1.3)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.9/dist-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (6.2)
Collecting jedi>=0.10
  Using cached jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
Requirement already satisfied: pexpect in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (67.6.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (2.0.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (2.14.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23.0->keplergl) (1.16.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.9/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (6.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.3)
Requirement already satisfied: jupyter-core>=4.6.1 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (5.3.0)
Requirement already satisfied: Send2Trash>=1.5.0 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.17.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (6.5.4)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.16.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (3.1.2)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (21.3.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (23.2.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (5.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.2.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas>=0.5.0->keplergl) (3.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect->ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core>=4.6.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (3.1.1)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.9/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (21.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (2.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (4.11.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (4.9.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (1.5.0)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.2.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (6.0.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (1.2.1)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (2.16.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.19.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (2.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (0.5.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8,>=7.0.0->keplergl) (2.21)
Building wheels for collected packages: keplergl
  Building wheel for keplergl (pyproject.toml) ... done
  Created wheel for keplergl: filename=keplergl-0.3.2-py2.py3-none-any.whl size=17922343 sha256=730dd3b0d2fbbfb709e91ff44da8087c4a667ebae0e8039e45e152fb039dd7e1
  Stored in directory: /root/.cache/pip/wheels/15/7f/48/aa4980536f7c9fbc783b2a191a579e73e7f74c41afc3f33c61
Successfully built keplergl
Installing collected packages: traittypes, pyproj, munch, jedi, cligj, click-plugins, fiona, geopandas, keplergl
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.2 geopandas-0.12.2 jedi-0.18.2 keplergl-0.3.2 munch-2.5.0 pyproj-3.5.0 traittypes-0.2.1

In [ ]:
from keplergl import KeplerGl 

map_ = KeplerGl(height=700)
map_.add_data(data_processed, 'Data')
map_.save_to_html(file_name='./california.html')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter
Map saved to ./california.html!